<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700616056019-p4mqg98hfdg1ciau3bfocubg7h3anjrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700616056019-p4mqg98hfdg1ciau3bfocubg7h3anjrp</string>
	<key>API_KEY</key>
	<string>AIzaSyC65zIBCQCUkvoupo-5ABYuzfYPHT0sd-4</string>
	<key>GCM_SENDER_ID</key>
	<string>700616056019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mateusbelmonte.bipixapp</string>
	<key>PROJECT_ID</key>
	<string>bipix-63992</string>
	<key>STORAGE_BUCKET</key>
	<string>bipix-63992.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700616056019:ios:2a0df9db16a7bf0f7d8826</string>
	<key>DATABASE_URL</key>
	<string>https://bipix-63992-default-rtdb.firebaseio.com</string>
</dict>
</plist>